body {
  background-color: #ddd;
  padding: 25px 0;
}


/* Brush Size */
#brushSizeContainer { margin-right: 50px; }

  #brushSizeContainer input[type="range"] {
    margin: 0;
    padding: 0;
    width: 30px;
    height: 200px;
    -webkit-appearance: slider-vertical;
  }

  #brushSizeContainer #brushSizeLabels p {
    margin-bottom: 2.5px;
    font-size: 12px;
  }


/* Palette */
#palette { margin-right: 50px; }

  #palette button {
    width: 50px;
    height: 50px;
    border: none;
    margin-bottom: 10px;
    padding: 0;
  }

  #palette button.margin-right { margin-right: 5px; }


/* Clear and Save Buttons   */
#actionButtons { margin-right: 50px; }

  #actionButtons button {
    background-color: none;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    margin-top: 25px;
  }

  #actionsButtons #clear { margin-right: 25px; }


/* Page Thumbnails */
#pages { margin-left: 50px; }

  #pages button {
    border: none;
    height: 103px;
    width: 75px;
    margin: 0 5px 10px 0;
    background-size: cover;
  }


/* Instructions Modal */
#instructions .modal-dialog { max-width: 60%; }


/* Help Button */
#helpButton {
  position: fixed;
  top: 25px;
  right: 25px;
  font-size: 32px;
  color: #999;
  transition: ease 0.2s;
  cursor: pointer;
}
  #helpButton:hover { color: #007bff; }
